# Docker Compose Environment Variables

# Unraid Specifics
HOST_OS="Unraid"
HOST_HOSTNAME="<hostname>"

# User/Group Identifiers
# These help avoid permission issues between host and container
PUID=99
PGID=100
UMASK=022

# Container name prefix
CONTAINER_PREFIX=arrs_

# Paths for persistent data
CONFIG_PATH=/mnt/user/appdata
DATA_PATH=/mnt/user/library/

# Container settings
TZ=America/New_York
RESTART_POLICY=unless-stopped
NETWORK_MODE=bridge
QBIT_TORRENT_PORT=41541
QBIT_WEB_PORT=8081

# VPN Config (https://github.com/qdm12/gluetun-wiki/tree/main/setup)
VPN_PROVIDER='<your provider>'
VPN_TYPE=<wireguard|openvpn>
VPN_USER=<username>
VPN_PASSWORD=<password>
VPN_REGION=<region>
